/*
    default.css
    Default styles for jquery-orderly plugin.

*/

.orderly-button img {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    max-height: 1.0em;
    vertical-align: bottom;
}

.orderly-visible {
    float: right;
}

.orderly th {
    cursor: pointer;
}


