/*
    default.css
    Default styles for jquery-orderly plugin.

*/

.jq-orderly-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 0.25em;
    vertical-align: middle;
}

.jq-orderly-visiblebtn {
    float: right;
}


